@font-face {
  font-family: "TTLakes";
  font-weight: bold;
  src: url("fonts/TTLakes-Bold.woff") format("woff");
}
@font-face {
  font-family: "TTLakes";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
  font-family: "TTLakes";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/TTLakes-Regular.woff") format("woff");
}

html {
  font-family: "TTLakes";
  width: 100%;
  max-height: 100%;
}

.container {
  width: 320px;
  height: 100vh;
  margin-left: 24px;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  padding: 23px 24px 32px;
  margin: -5px;
  overflow-y: auto;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  padding: 0;
  background: none;
}

a {
  text-decoration: none;
}

.header__item,
.actions__item,
.lang__btn {
  transition: opacity 0.3s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__item {
  align-self: center;
}

.header__item--logo {
  transform: translate(-45px);
}

.header__item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu {
  margin-top: 50.27px;
  margin-bottom: 244px;
}

.menu__item {
  color: #1b1c21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 24px;
}

.menu__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  height: 32px;
  width: 4px;
  background-color: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translate(-15px, -15%);
}

.menu__item:hover {
  cursor: pointer;
  color: #7e7e82;
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.actions__item {
  margin-right: 16px;
}

.actions__item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__email:hover {
  color: #7e7e82;
  cursor: pointer;
}
.contacts__phone:hover {
  color: #7e7e82;
  cursor: pointer;
}

.contacts__email {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 16px;
}

.contacts__phone {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  font-weight: bold;
  margin: 0;
}

footer {
  position: relative;
}

.lang {
  display: flex;
  margin-top: 40px;
  margin-bottom: 32px;
}
.lang__btn:hover {
  opacity: 0.7;
  color: #7e7e82;
  cursor: pointer;
}

.lang__btn {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin-right: 7px;
}
